@media screen and (min-width:321px) and (max-width:768px) {
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 15px;
    }

    /* contenedor principal*/
    body div#main-container {
        width: 100vw !important;
    }

    /*Nav bar*/
    div#main-container div#nav-bar {
        width: 100%;
        height: 50px;
        padding-right: 10px;
    }

    /* Top info and btn */
    div#main-container div.titulo {
        width: 80%;
        padding-right: 10px;
    }

    /*Blue dot*/
    div.titulo span.dot {
        color: #0000EC;
        text-decoration: none;
    }

    div#main-container div.texto {
        width: 80%;
    }

    /*btn top*/
    div#header-info .btn-top {
        height: 46px;
    }

    /*Podcast container*/
    div#main-container div#podcast-container {
        width: 100vw;
        height: 1220px;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    /*iframes podcast*/
    div#podcast-container iframe.podcast {
        width: 360px;
    }

    /*info-phone-container*/
    div#main-container div#info-phone-container {
        width: 100%;
        margin-top: -60px;

    }

    /*phone image*/
    div#main-container div#phone-img {
        width: 360px;
        align-self: center;
    }

    /*text by phone*/
    div#main-container div#de-donde-venimos {
        width: 100%;
    }

    /*images-container*/
    div#main-container div#contenedor-img {
        width: 100vw;
    }

    /*images-title*/
    div#main-container h1#invitadas-estelares {
        width: 80%;
    }

    /* Sección iconos-contenedor */
    div#main-container div#contenedor-iconos {
        width: 100%;
        height: auto;
    }

    /* Sección iconos-titulo */
    div#main-container div#titulo-iconos {
        width: 80%;
        align-self: flex-start;
        padding: 0;
    }
    div#contenedor-iconos .icon{
        width: 100%;
        margin: 0;
        padding: 0 10%;
    }

    div#contenedor-iconos div.texto-icono {
        width: 200px;
    }

    /* poligono footer-contacto */
    div#main-container div#contacto {
        width: 100vw;

    }

    div#main-container div#contacto h1.titulo-episodios {
        width: 100%;
        margin: 0;
    }

    /*footer*/
    div#main-container div#footer {
        width: 100vw;
        height: 20px;

    }

    div#main-container div#footer div.contenedor-iconos-redes {
        align-items: center;
        margin-top: 0;
    }
}