@media screen and (min-width:768px) {
    h1 {
        font-size: 64px;
    }

    p {
        font-size: 16px;
    }

    div#main-container .text-btn {
        color: #060A24;
    }

    /* contenedor principal*/
    div#main-container {
        width: 1440px !important;
        margin: 0 auto;
        position: absolute;

    }

    div#main-container div#nav-bar {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        padding-left: 20%;
        padding-right: 20%;

    }

    /* mobile menu hidden */
    label div.container-burger {
        display: none;
    }

    .menu-desplegado .menu-item {
        visibility: hidden;
    }

    /*logo*/
    div#main-container div#nav-bar>div.logo {
        margin-top: 22px;
        width: 36px;


    }

    /*Menu items desktop*/
    div#main-container .desktop-menu {
        visibility: visible;
        width: 100%;
        height: 80px;
        z-index: 10;
        margin-top: 26px;


    }

    div#main-container .desktop-menu-list {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-flow: row wrap;
        list-style: none;
        color: #060A24;

    }

    li.selector-menu>a {
        text-decoration: none;
        color: #060A24;
    }

    /*hover*/
    li.selector-menu>a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    ul.desktop-menu-list .selector-menu {
        padding-left: 35px;
    }

    /* Top info and btn */
    body div#main-container div.titulo {
        margin-left: 25%;
        margin-top: 120px;
        position: absolute;
        width: 100%;
    }

    /*Blue dot*/
    div.titulo span.dot {
        color: #0000EC;
        text-decoration: none;
    }

    /*texto top*/
    div#main-container div.texto {
        width: 628px;
        margin-left: 25%;
        position: relative;
        margin-top: 170px;
    }

    /*btn top*/
    div#main-container button.btn-top {
        margin-left: 26%;
        width: 226px;
        height: 56px;
        position: absolute;
        margin-top: 250px;
    }

    /*Podcast container*/
    div#main-container div#podcast-container {
        width: 100vw;
        margin: 0;
        left: 0;
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    }

    div#podcast-container h1.titulo-episodios {
        margin-left: 30%;
        top: 186px;
        position: relative;
    }

    div#podcast-container iframe.podcast {
        width: 584px;
    }

}