@media screen and (min-width:768px) {
    h1 {
        font-size: 64px;
    }

    p {
        font-size: 16px;
    }

    div#main-container .text-btn {
        color: #060A24;
    }

    /* contenedor principal*/
    div#main-container {
        width: 1440px !important;
        margin: 0 auto;
        position: absolute;

    }

    div#main-container div#nav-bar {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        padding-left: 20%;
        padding-right: 20%;

    }

    /* mobile menu hidden */
    label div.container-burger {
        display: none;
    }

    .menu-desplegado .menu-item {
        visibility: hidden;
    }

    /*logo*/
    div#main-container div#nav-bar>div.logo {
        margin-top: 22px;
        width: 36px;


    }

    /*Menu items desktop*/
    div#main-container .desktop-menu {
        visibility: visible;
        width: 100%;
        height: 80px;
        z-index: 10;
        margin-top: 26px;


    }

    div#main-container .desktop-menu-list {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-flow: row wrap;
        list-style: none;
        color: #060A24;

    }

    li.selector-menu>a {
        text-decoration: none;
        color: #060A24;
    }

    /*hover*/
    li.selector-menu>a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    ul.desktop-menu-list .selector-menu {
        padding-left: 35px;
    }

    /* Top info and btn */
    div#main-container div.titulo {
        padding-left: 30%;
        margin-top: 120px;
        position: absolute;
        width: 100%;
    }

    /*Blue dot*/
    div.titulo span.dot {
        color: #0000EC;
        text-decoration: none;
    }

    /*texto top*/
    div#main-container div.texto {
        width: 628px;
        margin-left: 30%;
        position: relative;
        margin-top: 170px;
    }

    /*btn top*/
    div#header-info button.btn-top {
        margin-left: 31%;
        width: 226px;
        height: 56px;
        position: absolute;
        margin-top: 260px;
    }

    div#header-info button.btn-top:hover{
        background-image: linear-gradient(to right, #00F0B8,#0000FE);
        color: white;
    }

    /*Podcast container*/
    div#main-container div#podcast-container {
        width: 100vw;
        height: 1055px;
        margin: 0;
        padding-left: 25%;
        padding-right: 22%;
        left: 0;
        top: 310px;
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-content: flex-start;
    }

    div#podcast-container h1.titulo-episodios {
        margin-left: 4%;
        top: 150px;
        position: absolute;
        display: inline-block;
    }

    div#podcast-container iframe.podcast {
        width: 584px;
        height: 232px;
        top: 250px;
        margin-bottom: 72px;
    }

    /*info-phone-container*/
    div#main-container div#info-phone-container {
        width: 1440px;
        height: 660px;
        position: absolute;
        margin-top: 64px;
        margin-left: 20%;
        top: 70px;

    }

    /*phone image*/
    div#main-container div#phone-img {
        width: 458px;
        top: 1150px;
        position: relative;

    }

    /*text by phone*/
    div#main-container div#de-donde-venimos {
        width: 464px;
        margin: 0;
        position: relative;
        top: 1403px;
    }

    /*images-title*/
    div#main-container h1#invitadas-estelares {
        top: 2020px;
        margin-left: 30%;
        width: 100%;
    }

    /*images-container*/
    div#main-container div#contenedor-img {
        flex-flow: row wrap;
        width: 100vw;
        top: 2145px;
        justify-content: center;
    }

    div#contenedor-img img.img-invitadas {
        width: 33.3%;
    }

    /* Sección iconos-titulo */
    div#main-container div#titulo-iconos {
        width: 100%;
        top: 3180px;
        margin-left: 30%;
    }
    /* Sección iconos-contenedor */
    div#main-container div#contenedor-iconos{
        flex-direction: row;
        top: 2940px;
        width: 1040px;
        margin-left: 25%;
        margin-right: 25%;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    div#contenedor-iconos div.texto-icono{
        width: 220px;
        margin-left: 15%;
    }
    /* poligono footer-contacto */
    div#main-container div#contacto{
        width: 100vw;
        top: 3600px;
        clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
        height: 518px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    div#main-container div#contacto h1.titulo-episodios{
        width: 692px;
        align-self: center;
    }
    div#contacto button.btn-bottom{
        width: 345px;
        align-self: center;

    }
    div#contacto button.btn-bottom:hover{
        background-image: linear-gradient(to right, #00F0B8,#0000FE);
        color: white;

    }
    /*footer*/
    div#main-container div#footer{
        width: 1440px;
        height: 60px;
        margin-top: 36px;
        top: 4110px;
        justify-content: space-between;
        padding-left: 30%;
    }
    div#main-container div#footer div.contenedor-iconos-redes{
        margin-top: 0;
    }



}