@import url(query-desktop.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    line-height: 42px;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    line-height: 22px;
}

.text-btn {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 16px;
    color: lightgrey;
    letter-spacing: 0;
    line-height: 28px;
    text-transform: uppercase;
}

/* contenedor principal*/
body div#main-container {
    display: flex;
    width: 320px;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}

/* Barra de navegación*/
div#nav-bar {
    width: 320px;
    height: 44px;
    position: fixed !important;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

div.logo {
    margin-top: 10px;
    margin-left: 16px;
    width: 24px;
}

div#nav-bar input[type=checkbox] {
    display: none;
}

div#nav-bar label {
    margin: 10px;
}

/*Burger icon*/

label div.container-burger {
    width: 18px;
    height: 12px;
    position: relative;
    padding: 5px;
    margin: 3px;

}

.linea {
    width: 100%;
    height: 20%;
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;

}

.linea-top {
    top: 0%;
}

.linea-low {
    top: 80%;
}

/*Animación icono burger*/
#menu:checked+.label-burger .container-burger .linea-top {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#menu:checked+.label-burger .container-burger .linea-med {
    opacity: 0;
}

#menu:checked+.label-burger .container-burger .linea-low {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*Show-hide menu*/
div.menu-desplegado {
    display: none;
}

div#nav-bar input:checked~.menu-desplegado {
    display: inline-block;
}

/* Menú desplegado*/
div.menu-desplegado {
    width: 100%;
    background-color: #0000EC;
    height: 224px;
    top: 44px;
    position: absolute;
    transition: all 0.4s ease-in;
    /*transform: translate(100%);*/
    color: white;
    display: none;

}

.menu-item {
    padding: 12px;
}

.menu-item>a {
    color: inherit;
    text-decoration: none;
}

/*Animación menú desplazable*/
#menu:checked+.menu-desplegado {
    transform: translate(100);
    transition-timing-function: ease-in;
}

/*fin nav-bar*/
div.titulo {
    margin-top: 73px;
    position: relative;
    left: 16px;
    z-index: -1;
    width: 224px;
}

div.titulo span {
    text-decoration: line-through;
}

div.texto {
    position: absolute;
    z-index: -1;
    margin-top: 189px;
    left: 16px;
    width: 288px;
}

button.btn-top {
    position: absolute;
    width: 288px;
    height: 48px;
    margin-top: 293px;
    margin-left: 16px;
    background-color: #00F3BB;
    border: none;
    color: #060A24;
    font-weight: 500;
    z-index: -1;
}

@media screen and (min-width: 320px) and (max-width:769px){

    /*hide desktop menu*/
    div#main-container nav.desktop-menu {
        visibility: hidden;
    }

    div.titulo h1 span.dot {
        text-decoration: none;
    }
}

/* Podcast */
#podcast-container {
    height: 1280px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
    position: absolute;
    top: 371px;
    z-index: -1;
    width: 320px;
    margin: 0;
    padding: 0;
}

.titulo-episodios {
    color: white;
    top: 64px;
    margin-left: 16px;
    position: relative;
    width: 288px;
}

iframe.podcast {
    border-radius: 10px;
    margin-left: 11px;
    margin-right: 11px;
    display: inline-block;
    top: 90px;
    position: relative;
    width: 301px;
    margin-top: 11px;
}
/*info-phone-container*/
div#info-phone-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    width: 320px;
    height: 940px;
    position: absolute;
    margin-top: 64px;
    top: 1450px;

}
/*phone image*/
#phone-img {
    position: relative;
    width: 320px;
}

#de-donde-venimos {
    position: relative;
    margin-left: 16px;
    margin-top: 10px;
    width: 288px;
}

#de-donde-venimos>p {
    margin-top: 8px;
}

#invitadas-estelares {
    top: 2440px;
    margin-left: 16px;
    width: 288px;
    position: absolute;
    margin-top: 34px;
}
/*imagenes*/
div#contenedor-img {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 320px;
    top: 2560px;
    margin-top: 14px;
    z-index: -1;
}

/* Titulo iconos */
#titulo-iconos {
    top: 4050px;
    margin-left: 16px;
    width: 288px;
    position: absolute;
    margin-top: 16px;
}

/* Sección iconos */
#contenedor-iconos {
    top: 4125px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 911px;
    margin-top: 24px;
}

img.icon {
    margin-top: 13px;
    margin-right: 108px;
    margin-left: 108px;
    align-self: center;
    position: relative;
}

div.texto-icono {
    position: relative;
    width: 288px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    left: 0;
    margin: 13px 16px;
    text-align: center;
    font-weight: 600;

}

/* poligono footer */
div#contacto {
    width: 100%;
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0% 8%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    top: 5080px;
    z-index: -1;
}
div#contacto h1.titulo-episodios{
    text-align: center;
    width: 288px;
}

button.btn-bottom {
    position: relative;
    width: 288px;
    height: 48px;
    margin-top: 106px;
    margin-left: 16px;
    background-color: #00F3BB;
    border: none;
    color: #060A24;
    font-weight: 500;
    z-index: -1;
}

div#footer {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 5450px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 24px;
}

div#footer div.text-footer {
    width: 227px;
    position: relative;
    height: 22px;
    align-items: center;
}

div#footer div.contenedor-iconos-redes {
    list-style: none;
    position: relative;
    width: 232px;
    height: 60px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}