 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 h1 {
     font-family: 'IBM Plex Sans', sans-serif;
     font-size: 36px;
     font-weight: 400;
     text-align: left;
 }

 p {
     font-family: 'IBM Plex Mono', monospace;
     font-size: 14px;
     font-weight: 300;
     text-align: justify;
     line-height: 22px;
 }

 .text-btn {
     font-family: 'IBM Plex Mono', monospace;
     font-weight: 300;
     font-size: 16px;
     color: lightgrey;
     letter-spacing: 0;
     line-height: 28px;
     text-transform: uppercase;
 }

 /* contenedor principal*/
 div#main-container {
     display: flex;
     width: 100vw;
     height: 100%;
     position: relative;
 }

 /* Barra de navegación*/
 div#nav-bar {
     width: 100%;
     height: 44px;
     position: fixed;
     background-color: #fff;
     display: flex;
     justify-content: space-between;
 }

 div.logo {
     margin-top: 10px;
     margin-left: 16px;
     width: 24px;
 }

 div#nav-bar input[type=checkbox] {
     display: none;
 }

 div#nav-bar label {
     margin: 10px;
 }

 /*Show-hide menu*/
 div.menu-desplegado {
     display: none;
 }

 div#nav-bar input:checked~.menu-desplegado {
     display: inline-block;
 }

 /* Menú desplegado*/
 div.menu-desplegado {
     width: 100%;
     background-color: #0000EC;
     height: 224px;
     top: 44px;
     position: absolute;
 }

 ul.contenedor-menu-items {
     display: flex;
     flex-flow: column wrap;
     justify-content: space-evenly;
     height: 192px;
     margin: 16px 24px;
     list-style: none;
 }

 div.titulo {
     margin-top: 73px;
     position: relative;
     left: 16px;
     z-index: -1;
 }

 div.titulo span {
     text-decoration: line-through;
 }

 div.texto {
     position: absolute;
     z-index: -1;
     margin-top: 189px;
     left: 16px;
     width: 288px;
 }

 button.btn-top {
     position: absolute;
     width: 288px;
     height: 48px;
     margin-top: 293px;
     margin-left: 16px;
     background-color: #00F3BB;
     border: none;
     color: #060A24;
     font-weight: 500;
 }
 #podcast-container {
     width: 100vw;
     height: 1203.5px;
     background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
     clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
     position: absolute;
     top: 371px;
     z-index: -1;
 }