@import url(query-desktop.css);
@import url(query-tablet.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    line-height: 42px;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    line-height: 22px;
}

.text-btn {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 16px;
    color: lightgrey;
    letter-spacing: 0;
    line-height: 28px;
    text-transform: uppercase;
}

/* contenedor principal*/
body div#main-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

/* Barra de navegación*/
div#nav-bar {
    width: 320px;
    height: 44px;
    position: fixed !important;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

div.logo {
    margin-top: 10px;
    padding-left: 16px;
    width: 24px;
}

div#nav-bar input[type=checkbox] {
    display: none;
}

div#nav-bar label {
    margin: 10px;
}

/*Burger icon*/

label div.container-burger {
    width: 18px;
    height: 12px;
    position: relative;
    padding: 5px;
    margin: 3px;

}

.linea {
    width: 100%;
    height: 20%;
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;

}

.linea-top {
    top: 0%;
}

.linea-low {
    top: 80%;
}

/*Animación icono burger*/
#menu:checked+.label-burger .container-burger .linea-top {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#menu:checked+.label-burger .container-burger .linea-med {
    opacity: 0;
}

#menu:checked+.label-burger .container-burger .linea-low {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*Show-hide menu*/
div#nav-bar input:checked~.menu-desplegado {
    width: 100%;
}

/* Menú desplegado*/
div.menu-desplegado {
    width: 0%;
    background-color: #0000EC;
    height: 224px;
    top: 44px;
    position: fixed;
    color: white;
    transition: width .4s ease-in;
    overflow: hidden;
}

.menu-item {
    padding: 12px;
}

.menu-item>a {
    color: inherit;
    text-decoration: none;
}

/*fin nav-bar*/
/* Top info and btn */
div#header-info {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 29px;
}

div.titulo {
    margin-top: 29px;
    position: relative;
    left: 16px;
    width: 224px;
}

div.titulo span {
    text-decoration: line-through;
}

div.texto {
    position: relative;
    margin-top: 16px;
    left: 16px;
    width: 288px;
}

button.btn-top {
    position: relative;
    width: 288px;
    height: 48px;
    margin-top: 36px;
    margin-left: 16px;
    background-color: #00F3BB;
    border: none;
    color: #060A24;
    font-weight: 500;
    z-index: 1;
}


@media screen and (min-width: 320px) and (max-width:768px) {

    /*hide desktop menu*/
    div#main-container nav.desktop-menu {
        visibility: hidden;
    }

    div.titulo h1 span.dot {
        text-decoration: none;
    }
}

/* Podcast */
#podcast-container {
    height: 1280px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 24px;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 40%;
    padding-right: 0;
    padding-left: 0;
    z-index: 1;

}

.titulo-episodios {
    color: white;
    padding-left: 16px;
    position: relative;
    width: 100%;
}

iframe.podcast {
    border-radius: 10px;
    margin-left: 11px;
    margin-right: 11px;
    display: flex;
    position: relative;
    width: 301px;
    margin-top: 11px;
    
}

/*info-phone-container*/
div#info-phone-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 320px;
    height: auto;
    position: relative;
    margin-top: -80px;
    z-index: 3;

}

/*phone image*/
#phone-img {
    position: relative;
    width: 320px;
}

#de-donde-venimos {
    position: relative;
    margin-top: 54px;
    width: 288px;
    padding-left: 16px;
   
}

#de-donde-venimos>p {
    margin-top: 8px;
}
/*imagenes*/
div#contenedor-img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 54px;
}
#invitadas-estelares {
    padding-left: 16px;
    width: 288px;
    position: relative;
    margin-bottom: 15px;
}

/* Sección iconos */
#contenedor-iconos {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 320px;
    height: auto;
    padding-top: 20px;
    margin: 0 auto;
    /*padding: 0 16px;*/
}
/* Titulo iconos */
#titulo-iconos {  
    padding-left: 16px;
    width: 100%;
    position: relative;
    margin: 24px 0;

}
.icon{
    align-self: center;
}
/*div.icon {
    /*margin-top: 13px;
    margin-right: 108px;
    margin-left: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;
    /*position: relative;
}*/

div.texto-icono {
    position: relative;
    /*width: 288px;*/
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    left: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    padding-bottom: 60px;

}

/* poligono footer */
div#contacto {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0% 8%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 60px 0;
    margin: 30px 0;
   
}

div#contacto h1.titulo-episodios {
    text-align: center;
    width: 80%;
    margin-left: 0;
    align-self: center;
}

button.btn-bottom {
    width: 288px;
    height: 48px;
    background-color: #00F3BB;
    border: none;
    color: #060A24;
    font-weight: 500;
    align-self: center;
    margin-top: 20px;
    
}

div#footer {
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 24px;
}
/*Footer redes*/
div#footer div.text-footer {
    width: 227px;
    position: relative;
    height: 22px;
    align-items: center;
}

div#footer div.contenedor-iconos-redes {
    list-style: none;
    position: relative;
    width: 232px;
    height: 60px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Iconos font awesome*/
.svg-inline--fa{
    color: #060A24;
    font-size: 18px;
}
.svg-inline--fa:hover{
    color: #00F0B8;
}